-if user_signed_in?
    - if current_user.role == 'Validator'
        %h1.quarter-top.text-center Welcome Validator Please Select a Company to Assess
        .center-on-page
            .card
                .card-header
                    .vertical-menu
                        - @companies.each do |company|
                            = link_to "#{company.name}", question_path(company.id)