-if user_signed_in? and current_user.role == "Decision Maker"
    -#
        (comment) This if-condition is redundant with the before-filters
        defined in application_controller
        and used in coas_controller
        This if-condition has been left for redundancy
        in case somehow, it's needed
    %table#coas

        %thead
            %tr
                %th Name
                %th Description
                -@coas.each do |coa|
                    %tr
                        %td= coa.coa_index
                        %td= coa.description
                        %td= link_to "Modify", coa_path(coa)

    = link_to 'Add new Course of Action', new_coa_path
    %hr{:align => "left", :width => "50%"}/


- elsif user_signed_in? and current_user.role != "Decision Maker"
    %p You do not have permission to view Courses of Action

- else
    %p You are not logged in
