-if user_signed_in?
    %table#coas

        %thead
            %tr
                %th Name
                %th description
                -@coas.each do |coa|
                    %tr
                        %td= coa.coa_index
                        %td= coa.description
                        %td= link_to "Modify", coa_path(coa)

    = link_to 'Add new Course of Action', new_coa_path
    %hr{:align => "left", :width => "50%"}/




- else
    %p You are not logged in
