%p


%h1 Output
- if user_signed_in?
    %p You are logged in
- else
    %P You are not logged in

.arrange.horizontally
    .left-menu
        = render 'coas'
    .right-screen{:id => "coaCompanyInfoScreen"}